<div class="session-info">
	<h1 class="topic-name">{{@topicName}}</h1>
	<h2 class="speaker-name">{{@speakerName}}
		{{#if @links.linkedin}}
			<span class="speaker-social-info linkedin-info">
				<a target="_blank" rel="noopener noreferrer" href={{@links.linkedin}}>
					<img class="social-media-logo" src="assets/images/linkedin512.png" alt="LinkedIn logo" />
				</a>
			</span>
		{{/if}}
		{{#if @links.twitter}}
			<span class="speaker-social-info twitter-info">
				<a target="_blank" rel="noopener noreferrer" href={{@links.twitter}}>
					<img class="social-media-logo" src="assets/images/twitter100.png" alt="Twitter logo" />
				</a>
			</span>
		{{/if}}
	</h2>
	<h3 class="speaker-info">{{@info}}</h3>
	<ul>	
		{{#each @details as  |detail|}}
		<li>
			{{detail}}
		</li>
		{{/each}}
	</ul>
</div>